<form method="POST">
    <div>
        <label />email <input type="text" name="email" placeholder="email" />
    </div>
    <div>
        <label />password <input type="password" name="password" placeholder="password" />
    </div>
    <div>
        <input type="submit" value="Log In" />
    </div>
</form>
<div>
    <button onclick="window.location.href='http://localhost:8080/register';">Sign in</button>
</div>