<form method="POST" id="login_form">
    <div>
        <label />email <input type="text" name="email" placeholder="email" />
    </div>
    <div>
        <label />password <input type="password" name="password" placeholder="password" />
    </div>
    <div>
        <input type="submit" value="Log in" />
    </div>
</form>
<div>
    <button onclick="window.location.href='/register';">Sign in</button>
</div>
{{!-- <div>
    <button onclick="window.location.href='/api/auth/github';">Log in with Github</button>
</div> --}}

<script src="./js/form.js"></script>