<form method="POST">
    <div>
        <label />first name <input type="first_name" name="first_name" placeholder="first_name" />
    </div>
    <div>
        <label />last name <input type="last_name" name="last_name" placeholder="last_name" />
    </div>
    <div>
        <label />email <input type="text" name="email" placeholder="email" />
    </div>
    <div>
        <label />age <input type="age" name="age" placeholder="age" />
    </div>
    <div>
        <label />password <input type="password" name="password" placeholder="password" />
    </div>
    <div>
        <input type="submit" value="submit" />
    </div>
</form>